<div class = "menubar" data-activeslide="1">
    <div class="column">
        <div id="logo">
            <img src="images/Starwars.png" alt=""/>
        </div>
    </div>
    <div class="column">
        <div id="planet">
            <h3>Kamino Kanteen</h3>
        </div>
    </div>
    <div class="column">
        <div class="navbar">
            <nav>
                <a id="home-link" routerLink="" routerLinkActive="active">Home</a>
                <a id='promotion-link' routerLink='/promotion' routerLinkActive='active'>Promotion</a>
                <a id='menu-link' routerLink='/menu' routerLinkActive='active'>Menu</a>
                <a id='about-link' routerLink='/about' routerLinkActive='active'>About Us</a>
                <a id='login-link' routerLink='/login' routerLinkActive='active'>Login</a>
            </nav>
        </div>
    </div>
</div>

<div>
    <router-outlet></router-outlet>
</div>
