/*<div class = "menubar" data-activeslide="1">
    <div class="column">
        <div id="logo">
            <img src="images/Starwars.png" alt=""/>
        </div>
    </div>
    <div class="column">
        <div id="planet">
            <h3>Kamino Kanteen</h3>
        </div>
    </div>
    <div class="column">
        <div class="navbar">
            <nav>
                <a id="home-link" routerLink="" routerLinkActive="active">Home</a>
                <a id='promotion-link' routerLink='/promotion' routerLinkActive='active'>Promotion</a>
                <a id='menu-link' routerLink='/menu' routerLinkActive='active'>Menu</a>
                <a id='about-link' routerLink='/about' routerLinkActive='active'>About Us</a>
                <a id='login-link' routerLink='/login' routerLinkActive='active'>Login</a>
            </nav>
        </div>
    </div>
</div>*/

.column{
	display:inline-block;
}
.menubar{
	background-color:#ffffff;
}
img{
    width: 100px;
    height: 100px;
}
h3{
    font-size: 2em;
    flex: 1;
    font-family: "Inknut Antiqua";
    color: black;
}

.navbar {
	border-bottom: 0 none;
	font-size: 12px;
	transition: .25s all linear;
	overflow:hidden;
}
.navbar a{
	float:left;
	display:block;
	color:black;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
	font-size:17px;
}
.navbar a:hover{
	background-color:#ddd;
	color:black;
}
.navbar a:active{
	outline:0;
}
a {
  background-color: transparent;
}