<div class = "navbar" data-activeslide="1">
    <div id = "logo">
        <img src = "food/Starwars.png" alt = "" />
        <h3>Kamino Kanteen</h3>
    </div>
    <div id = "navBar">
        <nav>
            <a id='home-link' routerLink='' routerLinkActive='active'>Home</a>
            <a id='promotion-link' routerLink='/promotion' routerLinkActive='active'>Promotion</a>
            <a id='menu-link' routerLink='/product' routerLinkActive='active'>Menu</a>
            <a id='about-link' routerLink='/about' routerLinkActive='active'>About Us</a>
            <a id='kitchen-link' routerLink='/login' routerLinkActive='active'>Kitchen</a>
        </nav>
    </div>
</div>

<div>
    <router-outlet></router-outlet>
</div>
