<section>

    <div class="carousel">
        <ul class="slides">
            <li>
                <h2>Acklay Roast!</h2>
                <img src="food/acklayroast.png" alt="First slide">
            </li>
            <li>
                <h2>Blarth Ribs!</h2>
                <img src="food/blarthribs.png" alt="Second slide">
            </li>
            <li>
                <h2>Chiilak Prime Rib!</h2>
                <img src="food/chiilakprimerib.png" alt="Third slide">
            </li>
        </ul>
    </div>
</section>