<body class="homepage">
    
    <div id="banner">&nbsp;</div>

    <div id="topDiv">
        <div class="container">
            <div class="row">
                <div class="3u">
                    <section>
                        <a href="troll" class="image full"><img src="images/a1.jpg"></a>
                        <header>
                            <h2>Etiam posuere</h2>
                        </header>
                        <p>Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante. Sed vel tellus.</p>
                    </section>
                </div>
                <div class="3u">
                    <section>
                        <a href="trolly" class="image full"><img src="images/a2.jpg"></a>
                        <header>
                            <h2>Etiam posuere</h2>
                        </header>
                        <p>Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante. Sed vel tellus.</p>
                    </section>
                </div>
                <div class="3u">
                    <section>
                        <a href="troll" class="image full"><img src="images/boba.jpg"></a>
                        <header>
                            <h2>Etiam posuere</h2>
                        </header>
                        <p>Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante. Sed vel tellus.</p>
                    </section>
                </div>
                <div class="3u">
                    <section>
                        <a href="trolly" class="image full"><img src="images/portrait9.jpg"></a>
                        <header>
                            <h2>Etiam posuere</h2>
                        </header>
                        <p>Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante. Sed vel tellus.</p>
                    </section>
                </div>
            </div>
        </div>
    </div>

		<!--<div id="featured">
			<div class="container">
				<div class="row">

					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="images/a1.jpg" alt=""></a>
							<header>
								<h2>Etiam posuere</h2>
							</header>
							<p>Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante. Sed vel tellus.</p>				
						</section>
					</div>

					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="images/a2.jpg" alt=""></a>
							<header>
								<h2>Fusce ultrices</h2>
							</header>
							<p>Pellentesque tristique ante. Sed vel tellus. Curabitur sem urna, consequat suscipit mattis placerat, nulla.</p>				
						</section>
					</div>

					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="images/boba.jpg" alt=""></a>
							<header>
								<h2>Donec dictum</h2>
							</header>
							<p>Pellentesque viverra vulputate enim. Aliquam erat volutpat. Curabitur sem urna, consequat mattis placerat, nulla.</p>				
						</section>
					</div>

					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="images/portrait9.jpg" alt=""></a>
							<header>
								<h2>Maecenas luctus</h2>
							</header>
							<p>Pellentesque viverra vulputate enim. Aliquam erat volutpat. Curabitur sem urna, consequat mattis placerat, nulla.</p>				
						</section>
					</div>

				</div>
			</div>
		</div>-->






		<!--<div id="marketing">
			<div class="container">
				<div class="row">
					<div class="3u">
						<section>
							<header>
								<h2>Praesent eleifend</h2>
							</header>
							<ul class="style1">
								<li class="first"><img src="images/portrait12.jpg" width="80" height="80" alt="">
									<p>Nullam non wisi a sem eleifend. Donec mattis libero eget urna. </p>
								</li>
								<li><img src="images/portrait6.jpg" width="80" height="80" alt="">
									<p>Nullam non wisi a sem eleifend. Donec mattis libero eget urna. </p>
								</li>
								<li><img src="images/portrait4.jpg" width="80" height="80" alt="">
									<p>Nullam non wisi a sem eleifend. Donec mattis libero eget urna. </p>
								</li>
							</ul>
						</section>
					</div>
					<div class="3u">
						<section>
							<header>
								<h2>Maecenas lectus</h2>
							</header>
							<ul class="style1">
								<li class="first"><img src="images/portrait11.jpg" width="80" height="80" alt="">
									<p>Nullam non wisi a sem eleifend. Donec mattis libero eget urna. </p>
								</li>
								<li><img src="images/portrait2.jpg" width="80" height="80" alt="">
									<p>Nullam non wisi a sem eleifend. Donec mattis libero eget urna. </p>
								</li>
								<li><img src="images/portait1.jpg" width="80" height="80" alt="">
									<p>Nullam non wisi a sem eleifend. Donec mattis libero eget urna. </p>
								</li>
							</ul>
						</section>
					</div>
					<div class="6u">
						<section>
							<header>
								<h2>Aenean elementum facilisis ligula</h2>
							</header>
							<a href="#" class="image full"><img src="images/portrait3.jpg" alt=""></a>
							<p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Aenean lectus lorem, imperdiet. Donec mattis libero eget urna. Duis pretium velit ac mauris.</p>
						</section>
					</div>
				</div>
			</div>
		</div>-->

		<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>

	</body>






<!--<body>
    <div id="topDiv">
        <div id="topDivBar"></div>
        <ads-page></ads-page>
    </div>
    <div id="topMiddleDiv">
        <div class="randomizeDiv"></div>
        <div id="section1">
            
        </div>
        <div id="section2">
            <div id="test3" class="testy"></div>
            <div id="test4" class="testy"></div>
        </div>



        
        <div id="pic1" class="routes">
            <a id="item1" routerLink="/troll" routerLinkActive="active"><img src="food/chiilakprimerib.png" alt="Chiilak" style="width:100%; height:100%;"></a>
        </div>
        <div id="pic2" class="routes">
            <a id="item1" routerLink="/trolly" routerLinkActive="active"><img src="food/chiilakprimerib.png" alt="Chiilak" style="width:100%; height:100%;"></a>
            <a id="item1" routerLink="/trolly" routerLinkActive="active"><img src="food/chiilakprimerib.png" alt="Chiilak" style="width:100%; height:100%;"></a>
        </div>
    </div>
    <div id="bottomMiddleDiv">
        <div class="randomizeDiv"></div>
        <carousel-app></carousel-app>
    </div>
    <div id="bottomDiv">
        <div class="randomizeDiv"></div>
    </div>
    <footer>
      <div class="container">
        <p class="foot">&copy; Team Planet-Kamino 2017 CIT Project </p>
      </div>
    </footer>
</body>-->