<div class = "navbar">
    <div id = "logo">
        <img src = "food/Starwars.png" alt = "" />
        <h3>Kamino Kanteen</h3>
    </div>
    <div id = "menuBar">
        <div id = "home" class = "menuBarItems">
            <a href = "#home">Home</a>
        </div>
        <div id = "promotion" class = "menuBarItems">
            <a href = "#promotion">Promotion</a>
        </div>
        <div id = "menu" class = "menuBarItems">
            <a href = "#menu">Menu</a>
        </div>
        <div id = "contact" class = "menuBarItems">
            <a href = "#contact">Contact</a>
        </div>
        <div id = "about" class = "menuBarItems">
            <a href = "#about">About</a>
        </div>
    </div>
</div>