<!DOCTYPE html>
<html>
  <head>
    <!-- font link here, change to another google font if you wish!-->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 id="jumbotron">Welcome To X-Kamino Restaurant</h1>
        <h2 id="supporting-header">All your foods are prepared</h2><a href="#" class="btn">Tour Food</a>
      </div>
    </header>
    <section>
      <div class="container">
        <h1 class="port">About Us</h1>
        <div class="self-pic"></div>
        <!-- Change paragraph text here, add subheadings by using h2 or h3 tags -->
        <p class="about-para">Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla porttitor <strong>accumsan tincidunt</strong>. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus.</p>
        <p class="about-para">Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus.</p>
        <p class="about-para">Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Praesent sapien massa, <strong>convallis</strong> a pellentesque nec, egestas non nisi. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus.</p>
      </div>
    </section>
    <section>
      <!-- edit the H2 text if you need to-->
      <h2 class="port">My Portfolio</h2>
      <div class="container">
        <div class="flex">
          <!-- change the links of the images and project title here!-->
          <figure id="one">
            <a href="#Diego" target="_blank"><img src="assets/food/a1.jpg" alt=""></a>
          </figure>
          <figure id="two">
            <a href="#Rory" target="_blank"><img src="assets/food/a2.jpg" alt=""></a>
          </figure>
          <figure id="three">
            <a href="#Rodeny" target="_blank"><img src="assets/food/a3.jpg" alt=""></a>
          </figure>
          <figure id="four">
            <a href="#Kelvin" target="_blank"><img src="assets/food/a4.png" alt=""></a>
          </figure>
          <figure id="five">
            <a href="#Jim" target="_blank"><img src="assets/food/a5.jpg" alt=""></a>
          </figure>
          <figure id="six">
            <a href="#Ray" target="_blank"><img src="assets/food/a6.jpg" alt=""></a>
          </figure>
        </div>
      </div>
    </section>
    <section class="grey">
      <div class="container">
        <h2 class="contact">Contact Me!</h2>
        <p class="contact">Whether it's a question or you want to talk about our Food, feel free to reach out to me!</p><a href="mailto:rayjung95@gmail.com" class="contact-button">Email Me!</a>
        <div class="flex">
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <p class="foot">&copy; Team Planet-Kamino 2017 CIT Project </p>
      </div>
    </footer>
  </body>
</html>