<div id="fh5co-main">
	<div class="fh5co-intro text-center">
		<div class="container">
					<div class="plate">
						<p class="script"><span>KAMINO KANTEEN</span></p>
						<p class="shadow text2">TODAY'S SPECIAL</p>
						<p class="shadow text3">MENU</p>
						<p class="script"><span>by YODA</span></p>
					</div>
		</div>
	</div>

	<div id="fh5co-portfolio">
		<div class="fh5co-portfolio-item ">
			<div class="fh5co-portfolio-figure animate-box" style="background-image: url(assets/promotion/images/background1.jpg); background-size:cover;"></div>
			<div class="fh5co-portfolio-description">
				<h2>Malacaly Tofu Soup</h2>
				<p>A simply delicious soup recipe that is perfect for when you're feeling under the weather. The rich herbs give the aroma of a country-style Nexu, lazily sleeping away in the branches of a tree. The tofu is marinated in our in-house sauces for 18 hours before being mixed into our classic soup with bountiful amounts of vegetables and potatoes. We heard you like tofu. We do too, but only with a ck at the end.</p>
				<p><a href="/menu" class="btn btn-primary">Go To Menu</a></p>
			</div>
		</div>
		<div class="fh5co-portfolio-item fh5co-img-right">
			<div class="fh5co-portfolio-figure animate-box" style="background-image: url(assets/promotion/images/background2.jpg);"></div>
			<div class="fh5co-portfolio-description">
				<h2>Beef Leaf Salad</h2>
				<p>Rancor meat. Need we say more? We take the prime cuts off a Rancor and cure it for upwards of 8-15 months in a spice mixture of our own making. Just eating the meat itself will make you feel like you're soaring through the air. We stylize a Kaminoan vegetable salad with Bantha cheese, tomatoes, thin slices of Rancor cured meat, and drizzled in our secret sauce. Do you know what's on the menu tonight? Me-n-u.</p>
				<p><a href="/menu" class="btn btn-primary">Go To Menu</a></p>
			</div>
		</div>
		<div class="fh5co-portfolio-item ">
			<div class="fh5co-portfolio-figure animate-box" style="background-image: url(assets/promotion/images/background11.jpg);"></div>
			<div class="fh5co-portfolio-description">
				<h2> Bantha Steak Burger</h2>
				<p>A mouth-watering burger, the steak is marinated overnight in a mixture of honey, garlic, soy sauce, and oil secreted from Banthas. The steak is then sous vide until internal temperatures reach 132F before roasting on a hot pan and basting in butter, garlic, and thyme. After roasting, the steak is left resting for 15 minutes before being sliced thinly and combined with vegetables into a burger. Do you like meat? Cause you'll be eating some tonight.</p>
				<p><a href="/menu" class="btn btn-primary">Go To Menu</a></p>
			</div>
		</div>
		<div class="fh5co-portfolio-item fh5co-img-right">
			<div class="fh5co-portfolio-figure animate-box" style="background-image: url(assets/promotion/images/drink4.jpg);"></div>
			<div class="fh5co-portfolio-description">
				<h2>Kamino Mountain Glacial Cocktail</h2>
				<p>Acquired through the excrutiating hard work of Rodney bullshiting through his ass, he journeys through blistering deserts, sub-zero blizzards, crushing depths of Kamino's oceans, up 180 degrees vertical mountains, to kill Ewoks and drain their blood between twin mountain peaks that act as a distiller and filter. The harsh temperatures and mixing with the ice of the mountains turns the blood blue, losing its thickness and making liquid that's smooth and light. You won't be fancy-ing wine tonight. It'll be moans.</p>
				<p><a href="/menu" class="btn btn-primary">Go To Menu</a></p>
			</div>
		</div>
	</div>
	</div>

