<div id="fh5co-main">
	<div class="fh5co-intro text-center">
		<div class="container">
					<div class="plate">
						<p class="script"><span>KAMINO KANTEEN</span></p>
						<p class="shadow text2">TODAY'S SPECIAL</p>
						<p class="shadow text3">MENU</p>
						<p class="script"><span>by YODA</span></p>
					</div>
		</div>
	</div>

	<div id="fh5co-portfolio">
		<div class="fh5co-portfolio-item ">
			<div class="fh5co-portfolio-figure animate-box" style="background-image: url(assets/promotion/images/background1.jpg); background-size:cover;"></div>
			<div class="fh5co-portfolio-description">
				<h2>Malacaly Tofu Soup</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
				<p><a href="#" class="btn btn-primary">Read the casetudy</a></p>
			</div>
		</div>
		<div class="fh5co-portfolio-item fh5co-img-right">
			<div class="fh5co-portfolio-figure animate-box" style="background-image: url(assets/promotion/images/background2.jpg);"></div>
			<div class="fh5co-portfolio-description">
				<h2>Beef Leaf Salad</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
				<p><a href="#" class="btn btn-primary">Read the casetudy</a></p>
			</div>
		</div>
		<div class="fh5co-portfolio-item ">
			<div class="fh5co-portfolio-figure animate-box" style="background-image: url(assets/promotion/images/background11.jpg);"></div>
			<div class="fh5co-portfolio-description">
				<h2> Bantha Steak Burger</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
				<p><a href="#" class="btn btn-primary">Read the casetudy</a></p>
			</div>
		</div>
		<div class="fh5co-portfolio-item fh5co-img-right">
			<div class="fh5co-portfolio-figure animate-box" style="background-image: url(assets/promotion/images/drink4.jpg);"></div>
			<div class="fh5co-portfolio-description">
				<h2>Kamino Mountain Glacial Cocktail</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
				<p><a href="#" class="btn btn-primary">Read the casetudy</a></p>
			</div>
		</div>
	</div>
	</div>

