<section>
    <header>
        <h1>Payment Page</h1>
    </header>
    <body>
        <section class="container">
            <div class="order">
                <h3>Order:</h3>
                <div class="items">Insert Items here.</div>
            </div>

            <div class="form">
                <form>
                    <input type="text" placeholder="First name">
                    <input type="text" placeholder="Last name">
                    <input type="text" placeholder="Address">
                    <input type="email" placeholder="E-mail">
                    <input type="tel" placeholder="Phone Number">
                    <input type="number" name="CreditCard" placeholder="Credit Card Number" size="12">
                    <input type="number" name="exp" placeholder="Expiry Date" maxlength="4">
                    <input type="number" name="CVC" placeholder="CVC" maxlength="3" size="3">

                    <div class="radio-toolbar">
                        <input type="radio" name="option" id="pickup"><label for="pickup">Pickup</label><br>
                        <input type="radio" name="option" id="delivery"><label for="delivery">Delivery</label>
                    </div>

                    <input type="submit">
                </form>
            </div>
        </section>
    </body>
</section>