:host {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  overflow: auto;
  background-color: white;
}

sd-bar {
  background-color: #002b36;
  margin-top: 50px;
}
#con{
  min-height:100%;
  position:relative;

}
fd-od-list{
  position: fixed;
  z-index: 3;
  margin-left:100px;
  background-color: yellow;

}
.middle{
  width: 63vw;
  height: auto;
  background-color: white;
  overflow: auto;
  align-items: center;
  margin-left: 300px;

}
.middle > header {
  color: black;
  padding: 10px;
}
.middle  > header > h1 {
  font-size: 2em;
}
.middle  > header .description {
  font-family: cursive;
}
#footer{
   position:absolute;
   bottom:0;
   width:100%;
   height:500px;
   background-color: #002b36;
}
#f-h3{
  color: #bdc2c5;
  font-size: 100px;
}
