header {
    text-align: center;
}

#page-wrap {
    width: 800px; margin: 0 auto;
    font: 14px/1.4 Georgia, serif;
}

textarea { 
    border: 0; 
    font: 14px Georgia, Serif; 
    overflow: hidden; 
    resize: none;
}

#header {
    border: 0; 
    font: 14px Georgia, Serif; 
    overflow: hidden; 
    resize: none;
}
table td, table th { 
    border: 1px solid black; 
    padding: 5px; 
}

#header { 
    height: 15px; 
    width: 100%; 
    margin: 20px 0; 
    background: #222; 
    text-align: center; 
    color: white; 
    font: bold 15px Helvetica, Sans-Serif; 
    text-decoration: uppercase; 
    letter-spacing: 20px; padding: 8px 0px; 
}

#address { 
    width: 250px; 
    height: 150px; 
    float: left; 
}
#customer { 
    overflow: hidden;
    margin-top: 30px;
}

#logo { 
    text-align: right; 
    float: right; position: relative; 
    margin-top: 25px; 
    border: 1px solid #fff; 
    max-width: 540px; 
    max-height: 100px; 
    overflow: hidden; 
}

.total-sum {
    font-size: 30px;
}

#customer-title { 
    font-size: 20px; 
    font-weight: bold; 
    float: left; 
}

#meta { 
    margin-top: 1px; 
    width: 300px; 
    float: right; 
}

#meta td { 
    text-align: right;
}

#meta td.meta-head { 
    text-align: left; 
    background: #eee; 
}
#meta td textarea { 
    width: 100%; 
    height: 20px; 
    text-align: right; 
}

#items { 
    clear: both; 
    width: 100%; 
    margin: 30px 0 0 0; 
    border: 1px solid black; 
}

#items th { 
    background: #eee; 
}

#items textarea { 
    width: 80px; 
    height: 50px; 
}

#items tr.item-row td { 
    border: 0; 
    vertical-align: top; 
}

#items td.description { 
    width: 300px; 
}

#items td.item-name { 
    width: 175px; 
}

#items td.description textarea, #items td.item-name textarea { 
    width: 100%; 
}

#items td.total-line { 
    border-right: 0; 
    text-align: right; 
}

#items td.total-value { 
    border-left: 0; 
    padding: 10px; 
}

#items td.total-value textarea { 
    height: 20px; 
    background: none; 
}

#items td.balance { 
    background: #eee; 
}

#items td.blank { 
    border: 0; 
}