<div class="navbar">
  <a href="#home">Home</a>
  <a href="#news">Promotion</a>
  <a href="#contact">Menu</a>
  <a href="#about">Contact</a>
  <a href="#about">About</a>
  <a href="#about">Kitchen</a>
</div>
<sd-bar></sd-bar>
<section>
  <header>
    <h1>Planet KAMINO</h1>
    <p class="description">Food For Starving</p>
  </header>
  <mw-food-item
    *ngFor="let allFoods of foodItems"
    [itemList]="allFoods"
    (search)="haha($event)"></mw-food-item>
  <fd-od-list [namefoodArray]="addeditemArray"></fd-od-list>
</section>
