<div class="navbar">
  <a href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>
<nav>
  <a>
    <img src="media/01.png" class="icon" />
  </a>
  <a>
    <img src="media/02.png" class="icon" />
  </a>
  <a>
    <img src="media/03.png" class="icon" />
  </a>
  <a>
    <img src="media/04.png" class="icon" />
  </a>
  <a>
    <img src="media/05.png" class="icon" />
  </a>
  <a>
    <img src="media/06.png" class="icon" />
  </a>
  <a>
    <img src="media/07.png" class="icon" />
  </a>
  <a>
    <img src="media/08.png" class="icon" />
  </a>
</nav>
<section>
  <header>
    <h1>Planet KAMINO</h1>
    <p class="description">Food For Starving</p>
  </header>
  <mw-media-item
    *ngFor="let allFoods of mediaItems"
    [itemList]="allFoods"></mw-media-item>
</section>