<body class="homepage">
    
    <div id="banner">&nbsp;</div>

	<div id="topDiv">
		<div id="topDivOne" class="topDivContainer">
			<section class="promotional-section">
				<a routerLink="/promotion" routerLinkActive="active"><img src="assets/rodney/fisher.jpg" class="promotional"></a>
				<header>
					<h2>Promotions</h2>
				</header>
				<p>View what we have on promotion right now!</p>
			</section>
		</div>
		<div id="topDivTwo" class="topDivContainer">
			<section class="promotional-section">
				<a routerLink="/menu" routerLinkActive="active"><img src="assets/rodney/portman.jpg" class="promotional"></a>
				<header>
					<h2>Menu</h2>
				</header>
				<p>Check out our mouth-watering menu!</p>
			</section>
		</div>
		<div id="topDivThree" class="topDivContainer">
			<section class="promotional-section">
				<a routerLink="/about" routerLinkActive="active"><img src="assets/rodney/ridley.jpeg" class="promotional"></a>
				<header>
					<h2>About Us</h2>
				</header>
				<p>Learn more about the team and how we did it!</p>
			</section>
		</div>
		<div id="topDivFour" class="topDivContainer">
			<section class="promotional-section">
				<a routerLink="/rory" routerLinkActive="active"><img src="assets/rodney/jones.jpg" class="promotional"></a>
				<header>
					<h2>Be Serenaded</h2>
				</header>
				<p>Listen to the most beautiful voice in the world!</p>
			</section>
		</div>
	</div>



	<div id="bottomDiv">
		<div class="botDiv">
			<a routerLink="/lego" routerLinkActive="active"><img src="assets/rodney/potential1.png" style="width:50vw; height:60vh; border:1px solid #fff;"></a>
		</div>
		<div class="botDiv">
			<div class="botDivRight">
				<a routerLink="/badger" routerLinkActive="active"><img src="assets/rodney/potential6.png" style="width:50vw; height:30vh; border:2px solid #fff;"></a>
			</div>
			<div class="botDivRight">
				<a routerLink="/narwhals" routerLinkActive="active"><img src="assets/rodney/potential4.png" style="width:50vw; height:30vh; border:2px solid #fff;"></a>
			</div>
		</div>
	</div>

	<footer>
		<div class="container">
			<p class="foot">&copy; Team Planet-Kamino 2017 CIT Project </p>
		</div>
	</footer>

</body>