<ul class="caption-style">
  <li>
    <img src="{{itemList.picture}}" alt="" />
    <div class="caption">
      <div class="blur"></div>
      <div class="caption-text">
        <h1>Description</h1>
        <p>{{itemList.description}}</p>
      </div>
    </div>
  </li>
</ul>
<h2>{{itemList.name}}</h2>
<div class="price">Price: ${{itemList.price}}</div>
<button class="btn btn-1 btn-1e" (click)="addInList(itemList.name,itemList.price,totalOrder)">Order Now</button>


<!--style="vertical-align:middle"-->