#logo {
    float: left;
}

#top {
    float: left;
    width: 100%;
    height: 90px;
    background-color: rgb(0, 42, 54);
}

#bottom {
    text-align: center;
    background-color: rgb(0, 42, 54);
    height: 600px;
}

#logindiv {
    margin: 0 auto;
    background-color: red;
    width: 400px;
    height: 400px;
    vertical-align: middle;
    padding-top: 100px;
}

.input {
    width: 200px;
}

#submit {
    width: 125px;
    height: 50px;
}