<section>
    <header>
        <h1>Login Page</h1>
    </header>
    <body>
        <div id="bottom">
            <div id="logindiv">
                <h2>Kamino Restaurant Login</h2><br/>
                <br/>
                <input type='text' placeholder='Email' class='input' id='email'/><br/>
                <br/>
                <input type='text' placeholder='Password' class='input' id='password'/><br/>
                <br/>
                <div id ='error_msg'></div>
                <button id="submit" routerLink='/kitchen' routerLinkActive='active'>LOG IN</button>
            </div>
        </div>
    </body>
</section>