.container {
  background-color: black;
  width: 500px;
  height: 200px;
  z-index: 2;
  border-radius: 8px;
  opacity: 0.8;
  font-size: 10px;
}
.ds-btn li{ 
  list-style:none;
  float:left; 
  padding:2px; 
  }
.ds-btn li span{
  padding-left:10px;
  padding-right:5px;width:100%;
  display:inline-block; 
  text-align:left;}
.ds-btn li span {
  width:100%; 
  display:inline-block; 
  text-align:left;
  }
