<div class="row">
    <div class="list-group table-of-contents">
      <a class="list-group-item" href="#navbar">Noodle</a>
      <a class="list-group-item" href="#buttons">Rice</a>
      <a class="list-group-item" href="#typography">Fish</a>
      <a class="list-group-item" href="#tables">Meat</a>
      <a class="list-group-item" href="#forms">Salad</a>
      <a class="list-group-item" href="#navs">Deep Fried</a>
      <a class="list-group-item" href="#indicators">Hamburger</a>
      <a class="list-group-item" href="#progress-bars">Bread</a>
      <a class="list-group-item" href="#containers">Wine</a>
      <a class="list-group-item" href="#dialogs">Desert</a>
      <a class="list-group-item" href="#dialogs">Special Cuisine</a>
    </div>
</div>
    