<head>
    <title>Sidebar2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link media="all" type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Inspiration from: https://dribbble.com/shots/1428271-iOS7-Challenge-App-->
</head>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-3 sidebar2">
                <br>
                <div class="left-navigation">
                    <ul class="list">
                        <li><i class="fa fa-safari" aria-hidden="true"></i>Main Dish</li>
                        <li><i class="fa fa-thumbs-up" aria-hidden="true"></i>Sides</li>
                        <li><i class="fa fa-hand-o-right" aria-hidden="true"></i>Combo</li>
                        <li><i class="fa fa-trophy" aria-hidden="true"></i>Desert</li>
                        <li><i class="fa fa-certificate" aria-hidden="true"></i>Drinks</li>
                        <li><i class="fa fa-bar-chart" aria-hidden="true"></i>Special chef's food</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
